:root {
    --main-height: 2em;
    /*--main-width: 26.3em;*/
}

html, body {
    height: var(--main-height);
    width: max-content;
}

body {
    padding: 0;
    border: 0;
    display: flex;
    align-items: stretch;
    background-color: black;
    overflow: hidden;
    user-select: none;
    margin: 0;
}

.videomax-ext-speed-control-container {
    clear: both;
    display: flex;
    color: white;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: 0;
    left: 0;
    height: max-content;
    width: available;
}


.videomax-ext-speed-control-radio-button {
    position: absolute;
    left: -9999em;
    top: -9999em;
}

.videomax-ext-speed-control-radio-button + label {
    float: left;
    padding: 0.5em 0.5em 0.1em 0.5em;
    line-height: 1.5em;
    vertical-align: center;
    cursor: pointer;
    border: 1px solid #173652;
    margin-right: -1px;
    color: #fff;
    background-color: #2b5981;
    white-space: nowrap;
    opacity: 90%; /* fade in on hover */
}

.videomax-ext-speed-control-radio-button + label:first-of-type {
    border-radius: 0.7em 0 0 0.7em;
}

.videomax-ext-speed-control-radio-button + label:last-of-type {
    border-radius: 0 0.7em 0.7em 0;
}
.videomax-ext-speed-control-radio-button:checked + label {
    background-color: #1b4060;
}

.videomax-ext-speed-control-radio-button + label:hover,
.videomax-ext-speed-control-radio-button + label:focus {
    font-weight: bolder;
}


.closeicon {
    padding-top: 0.05em;
    width: 1.5em;
}
