
body.videomax-ext-max {
  overflow-y: hidden !important; /* Hide vertical scrollbar */
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

/* the repeating increases the weight of the rule (nexted .videomax-ext-max classes)
    so it overrides any other classnames on the element.
 */
.videomax-ext-max,
.videomax-ext-max .videomax-ext-max,
.videomax-ext-max .videomax-ext-max .videomax-ext-max {
  clear: both !important;
  background: rgb(0, 0, 0) !important;
  width: calc(100vw) !important;
  height: calc(100vh) !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  min-height: 0 !important;
  min-width: 0 !important;
  max-height: none !important;
  max-width: none !important;
  object-fit: contain !important;
  visibility: visible !important;
  display: block !important;
  transform: revert !important;
  /* added 17April22 */
  overflow: visible !important;
  /* added 13May23 - cavas closed captions on crunchroll are after video */
  position: fixed !important;
  /* added 20Jun23 iframes not aligning */
  align-content: center !important;
  /* added 18Jun23 */
  opacity: 1.0 !important;
  border: 0 black !important;
  border-image-width: 0 !important;
}

.videomax-ext-hide,
  /* nbc line 31July23*/
.videomax-ext-max:before,
.videomax-ext-max:after,
.videomax-ext-hide .videomax-ext-hide,
.videomax-ext-max .videomax-ext-hide {
  display: none !important;
  visibility: hidden !important;
  /* added 30May22 try to stop pop ups blocking video */
  position: absolute !important;
  left: -5000em !important;
  top: -5000em !important;
  width: 1px !important;
  height: 1px !important;
}

/* make it inherit style of parent*/
.videomax-ext-overlap,
.videomax-ext-overlap .videomax-ext-overlap,
.videomax-ext-max .videomax-ext-overlap {
  min-height: 0 !important;
  max-height: none !important;
  min-width: 0 !important;
  max-width: none !important;
}

.videomax-ext-playback-controls,
.videomax-ext-max .videomax-ext-playback-overlap {
  width: calc(100vw) !important;
}

.videomax-ext-playback-controls-fullheight,
.videomax-ext-max .videomax-ext-playback-controls-fullheight,
.videomax-ext-max .videomax-ext-max .videomax-ext-playback-controls-fullheight {
  height: calc(100vh) !important;
}

/* crunchyroll's CC text alignment fix */
.videomax-ext-max canvas#velocity-canvas {
  bottom: 1rem;
  width: calc(100vw); /* center gets messed up when resizing. Top text still sometimes gets lost */
}

/* cnbc jplayer controls are at top without this. Very fragile, but whatever */
.videomax-ext-max .videomax-ext-overlap .jw-controlbar {
  position: absolute !important;
  opacity: 1 !important; /** cnbs's jplayer is so weird */
}
.customControls .jw-controlbar, .customControls .jw-controls {
  opacity: 1 !important;  /** cnbs's jplayer is so weird */
}

/** 2021May
  espn uses some strange loading spinner background image that needs some extra spec to override */
.videomax-ext-max:after,
.videomax-ext-max .videomax-ext-max:after,
.videomax-ext-max .videomax-ext-max .videomax-ext-max:after {
  background: transparent !important;
}

/**
  hclip doesn't autohide some playback control items, do it for them.
 */
.videomax-ext-overlap .jw-related-toggle-button {
  display: none !important;
}

/**
  Youtube "subscribe buttons" can sometimes be always displayed (an animated). Hide them while in theater mode
 */
div.videomax-ext-overlap > .ytp-chrome-top-buttons,
div.videomax-ext-overlap > .ytp-share-button,
div.videomax-ext-overlap > .annotation-type-custom {
  display: none !important;
}

/*!** pseudo used by when a video is in a file: *!*/
video::-webkit-media-controls {
  width: calc(100vw);
}

.videomax-ext-no-hide {
  /* intentionally empty */
}

